---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Über mich – stevenschwarz.de">
  <h1>Über mich</h1>
  <p>Hier kannst du später etwas über dich eintragen.</p>
</BaseLayout>
